Backup_2026-03-02/backup workflow.json
{
  "updatedAt": "2026-03-02T17:59:54.000Z",
  "createdAt": "2026-03-02T17:15:54.883Z",
  "id": "h3NkK5tfO3eD4wi4",
  "name": "backup workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "returnAll": false,
        "limit": 40,
        "filters": {},
        "requestOptions": {}
      },
      "id": "2ea85601-fdbe-4066-b17b-b77f6b5e9cc1",
      "name": "Get All Workflows",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -144,
        176
      ],
      "credentials": {
        "n8nApi": {
          "id": "hVd2AGMefgS1NSgq",
          "name": "n8n account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -592,
        176
      ],
      "id": "119a2fd2-f51f-43a1-9283-49144516e062",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b85bfeb0-8643-418d-ba0f-90a0f158ac80",
              "name": "folderName",
              "value": "=Backup_{{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        176
      ],
      "id": "74516832-b9ef-4cbf-bb00-bbe7942ad461",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        176
      ],
      "id": "4cf5630c-49c9-4d1a-863a-7e0611a41a50",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a2a6022-9f30-465a-ad64-ac6510a2959b",
              "name": "node",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "f632112b-e0d2-4a5c-aca6-dda63d42ec7e",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        32
      ],
      "id": "31ac1fd1-fe40-4c9d-b97c-a98b50118fd7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "node",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        528,
        32
      ],
      "id": "8f0d157d-e4c8-464c-8c3d-0f5f9b441fa7",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        752,
        32
      ],
      "id": "6fad9168-e2fc-4155-9209-03e5c66177c9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "hk8356343-creator",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "list",
          "cachedResultName": "n8n-backup",
          "cachedResultUrl": "https://github.com/hk8356343-creator/n8n-backup"
        },
        "filePath": "={{ $('Edit Fields').item.json.folderName }}/{{ $('Edit Fields1').item.json.fileName }}",
        "fileContent": "={{ $json.data }}",
        "commitMessage": "={{ $now.setZone('Asia/Kolkata').format('yyyy-MM-dd T') }} Backup Completed"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        976,
        104
      ],
      "id": "67de5d94-fe4e-4718-865a-75493efb6fe5",
      "name": "Create a file",
      "webhookId": "cae9647e-5ae9-4550-a85f-fabfdd55d189",
      "credentials": {
        "githubApi": {
          "id": "YWk0531h2A2eTloh",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Bt6ZVwdu_cg1izhafnmvUcCt2JQWihvbewfXqKlZwZo",
          "mode": "list",
          "cachedResultName": "Error Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bt6ZVwdu_cg1izhafnmvUcCt2JQWihvbewfXqKlZwZo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bt6ZVwdu_cg1izhafnmvUcCt2JQWihvbewfXqKlZwZo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date Time ": "={{ $now.format('yyyy-MM-dd') }}",
            "Folder Name": "={{ $('Edit Fields').item.json.folderName }}",
            "File Name": "={{ $('Edit Fields1').item.json.fileName }}",
            "Error Message": "={{ $json.error }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date Time ",
              "displayName": "Date Time ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Folder Name",
              "displayName": "Folder Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File Name",
              "displayName": "File Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        176
      ],
      "id": "d88b9a8a-a11a-443c-b0a8-d562611b44f3",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P2WoYlnHbPhHpLg0",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "99d99ae7-74bd-4c58-9fd9-9f77790ffb49",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-02T17:15:54.886Z",
      "createdAt": "2026-03-02T17:15:54.886Z",
      "role": "workflow:owner",
      "workflowId": "h3NkK5tfO3eD4wi4",
      "projectId": "aqCUDfvAqAv6TlIv"
    }
  ],
  "tags": []
}