Backup_2026-03-04/Basic Chatbot with user history.json
{
  "updatedAt": "2026-02-18T18:01:43.000Z",
  "createdAt": "2026-01-18T14:26:29.916Z",
  "id": "eJAEK6vE6ohJcKC3",
  "name": "Basic Chatbot with user history",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are Export Pi’s customer support AI assistant. They sell Shoes online and offline.\n\nYou have access to two tools:\n1. FAQ tool – searches questions and answers from Google Sheets\n2. Escalated tool – logs unresolved cases\n\nYou will receive a customer message and FAQ data.\n\nRules:\n1. Understand user intent, even if short, informal, misspelled, Bangla, or Banglish.\n2. Translate Bangla/Banglish to English and clean the text.\n3. If message is greeting or small talk, reply normally and do not use any tool.\n4. Query the FAQ tool.\n5. If similarity ≥60%, return the FAQ answer exactly and set need_human = false.\n6. If the message is irrelevant, off-topic, or unrelated to Export Pi’s business, do NOT answer it. Politely redirect the user back to Export Pi’s products, services, or support topics. Do not use any tool in this case.\n7. If no FAQ match:\n   - First, politely ask the user for any missing information: **Name** and **Email or Mobile (optional)**.\n   - Then inform the user that a human agent will contact them.\n   - If subsequent unknown messages arrive, do **not ask for details again**; just log the new message as a new row.\n\nAlways respond with this JSON structure:\n\n{\n  \"need_human\": true/false,\n  \"reply\": \"Your response message here\"\n}\n\nDecision Logic:\n- FAQ answer found → need_human = false\n- FAQ answer not found → need_human\n- Greeting only → need_human = false\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1616,
        -320
      ],
      "id": "706065af-1086-4a81-a520-63826313522a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1920,
        -320
      ],
      "id": "3c181f13-97f4-405d-991f-8d3494a92781",
      "name": "When chat message received",
      "webhookId": "eaba81fc-1499-4354-a9c4-32c10f3d9b07"
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1696,
        -96
      ],
      "id": "97bf2408-d69a-4cc3-8e25-19255b565334",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "5h1EDdb5qUKmhLT3",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1puUD3QY6-rb2uAy80d69285yML1RLZcQKtIuw61TCV4",
          "mode": "list",
          "cachedResultName": "ChatBot Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1puUD3QY6-rb2uAy80d69285yML1RLZcQKtIuw61TCV4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1puUD3QY6-rb2uAy80d69285yML1RLZcQKtIuw61TCV4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "={{ $('When chat message received').item.json.sessionId }}",
            "Customer Message": "={{ $('When chat message received').item.json.chatInput }}",
            "Bot Reply": "={{ $json.output.reply }}",
            "Date": "={{$now.setZone('Asia/Dhaka').toFormat('yyyy-MM-dd')}}\n"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer Message",
              "displayName": "Customer Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bot Reply",
              "displayName": "Bot Reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -832,
        -416
      ],
      "id": "601786cc-9247-4e73-b09d-fefb50e96ed8",
      "name": "Customer chat history",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P2WoYlnHbPhHpLg0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uKKu7EDnV_9WZ-PBt5uaqlOh_-SsSFF0dPgqFLt0q_4",
          "mode": "list",
          "cachedResultName": "FAQ for Export-Pi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uKKu7EDnV_9WZ-PBt5uaqlOh_-SsSFF0dPgqFLt0q_4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "FAQ's",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uKKu7EDnV_9WZ-PBt5uaqlOh_-SsSFF0dPgqFLt0q_4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1392,
        -96
      ],
      "id": "f6014847-8d0b-4eb5-af65-9b9b58a2ac49",
      "name": "FAQ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P2WoYlnHbPhHpLg0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1584,
        112
      ],
      "id": "ed27e1ec-a1f7-439d-93cd-61cb457c5996",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ef2UZYWgupCwAo5e",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af5e8996-9556-43d3-bcf7-38b27ee5042b",
              "leftValue": "={{ $json.name }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5835ed64-b4f5-4846-a28d-a8a513c24a1f",
              "leftValue": "={{ $json.email }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        -320
      ],
      "id": "56fda825-704f-41fa-a8d1-57d73a599d4a",
      "name": "If all field Collected"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1puUD3QY6-rb2uAy80d69285yML1RLZcQKtIuw61TCV4",
          "mode": "list",
          "cachedResultName": "ChatBot Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1puUD3QY6-rb2uAy80d69285yML1RLZcQKtIuw61TCV4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 644787786,
          "mode": "list",
          "cachedResultName": "Escaleted Message",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1puUD3QY6-rb2uAy80d69285yML1RLZcQKtIuw61TCV4/edit#gid=644787786"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.setZone('Asia/Dhaka').toFormat('yyyy-MM-dd') }}",
            "ID": "={{ $('When chat message received').item.json.sessionId }}",
            "Email Address": "={{ $('Srape Name and Email1').item.json.email }}",
            "Customer Name": "={{ $('Srape Name and Email1').item.json.name }}",
            "Customer Message": "={{ $('When chat message received').item.json.chatInput }}"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer Message",
              "displayName": "Customer Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        -400
      ],
      "id": "fb87891f-2549-4ae0-b5eb-4ddb448ee9c9",
      "name": "Escalated",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P2WoYlnHbPhHpLg0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "testnnworkflow13@gmail.com",
        "subject": "Bep Bep Need you to talk !!!",
        "message": "=There is a customer wanted to talk with you!!!\nCustomer Id: {{ $json.ID }},\nCustomer Name: {{ $json['Customer Name'] }},\nCustomer Email: {{ $json['Email Address'] }}.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        352,
        -400
      ],
      "id": "362ad81b-9ea3-4622-8c9d-eb39f15397f8",
      "name": "Send a message1",
      "webhookId": "a2787124-e79b-41c6-a06b-0957b334414a",
      "credentials": {
        "gmailOAuth2": {
          "id": "SN79AzLmxYdb0jSR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      text: $('AI Agent').first().json.output.reply\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -304
      ],
      "id": "43620cd9-9fd1-41bb-b254-5f1985d8f20e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const messages = $input.first().json.messages || [];\nconst memory = $input.first().json.memory || {};\n\n// If memory already has both, return immediately\nif (memory.name && memory.email) {\n  return { \n    name: memory.name, \n    email: memory.email \n  };\n}\n\nlet foundName = memory.name || null;\nlet foundEmail = memory.email || null;\nlet allEmails = [];\nlet allNames = [];\n\n// Helper: Validate email\nfunction isValidEmail(email) {\n  const emailRegex = /^[a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$/;\n  return emailRegex.test(email);\n}\n\n// Helper: Validate name\nfunction isValidName(name) {\n  const nameParts = name.trim().split(/\\s+/);\n  \n  // Allow 1-4 words (relaxed for single names in first message)\n  if (nameParts.length < 1 || nameParts.length > 4) return false;\n  \n  // Check each part\n  for (const part of nameParts) {\n    if (part.length < 2) return false;\n    if (part[0] !== part[0].toUpperCase()) return false;\n    if (part === part.toUpperCase() && part.length > 1) return false;\n  }\n  \n  // Block common false positives\n  const lower = name.toLowerCase();\n  const blocklist = [\n    'not found', 'thank you', 'good day', 'hello there', 'good morning',\n    'good afternoon', 'good evening', 'see you', 'talk soon', 'best regards',\n    'kind regards', 'thank god', 'oh yes', 'oh no', 'of course', 'yes sir',\n    'no problem', 'you too', 'as well', 'for sure', 'will do', 'got it'\n  ];\n  \n  if (blocklist.includes(lower)) return false;\n  \n  return true;\n}\n\n// Helper: Clean extracted name\nfunction cleanName(name) {\n  let cleaned = name.trim();\n  \n  // Remove trailing noise words\n  cleaned = cleaned.replace(/\\s+(and|with|at|the|hk|or|from|to|for|is|was|are|were|be|been|being|have|has|had|do|does|did|will|would|should|could|may|might|must|can|shall)$/i, '');\n  \n  // Remove leading noise words\n  cleaned = cleaned.replace(/^(and|with|at|the|or|from|to|for|is|was|are|were|be|been|being|have|has|had|do|does|did|will|would|should|could|may|might|must|can|shall)\\s+/i, '');\n  \n  // Remove special characters except spaces and hyphens\n  cleaned = cleaned.replace(/[^\\w\\s-]/g, '');\n  \n  // Normalize spaces\n  cleaned = cleaned.replace(/\\s+/g, ' ').trim();\n  \n  // Capitalize properly\n  cleaned = cleaned.split(' ')\n    .map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase())\n    .join(' ');\n  \n  return cleaned;\n}\n\n// SEARCH ALL MESSAGES - collect everything\nfor (let i = 0; i < messages.length; i++) {\n  const message = messages[i];\n  const text = (message.human || \"\").trim();\n  \n  if (!text) continue;\n  \n  // ==================== EMAIL EXTRACTION (searches entire text) ====================\n  const emailPatterns = [\n    /([a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/g,\n    /(?:email|mail|e-mail|gmail|contact)[\\s:is]+([a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/gi,\n    /(?:reach|write|send)[\\s:tome]+([a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/gi,\n    /[\"'`]([a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})[\"'`]/g,\n    /[<\\[\\(]([a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})[>\\]\\)]/g,\n  ];\n  \n  for (const pattern of emailPatterns) {\n    let match;\n    const regex = new RegExp(pattern.source, pattern.flags);\n    while ((match = regex.exec(text)) !== null) {\n      const email = match[1].toLowerCase().trim();\n      if (isValidEmail(email) && !allEmails.includes(email)) {\n        allEmails.push({\n          email: email,\n          messageIndex: i,\n          messageText: text\n        });\n      }\n    }\n  }\n  \n  // ==================== NAME EXTRACTION ====================\n  const namePatterns = [\n    // PRIORITY 1: Explicit introductions\n    {\n      regex: /(?:my name is|my name's|i am|i'm|this is|call me|i'm called|name's|name is)\\s+([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,3})(?=\\s|$|[,.:;!?])/i,\n      priority: 1,\n      description: \"Explicit introduction\"\n    },\n    \n    // PRIORITY 2: Name directly before email (CRITICAL FOR YOUR CASE)\n    {\n      regex: /\\b([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,2})\\s*[,\\-–—]?\\s*(?:and\\s+)?([a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/i,\n      priority: 2,\n      description: \"Name before email\"\n    },\n    \n    // PRIORITY 2: Name after email\n    {\n      regex: /([a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})\\s*[,\\-–—]?\\s*([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,2})/i,\n      priority: 2,\n      description: \"Name after email\",\n      nameIndex: 2  // Use second capture group\n    },\n    \n    // PRIORITY 1: Greeting with name\n    {\n      regex: /(?:hi|hello|hey|greetings)[,\\s]+(?:i'm|i am|this is)?\\s*([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,2})(?=\\s|$|[,.:;!?])/i,\n      priority: 1,\n      description: \"Greeting with name\"\n    },\n    \n    // PRIORITY 1: Signature format\n    {\n      regex: /(?:regards|sincerely|thanks|thank you|best|cheers)[,\\s]+([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,2})\\s*$/im,\n      priority: 1,\n      description: \"Signature\"\n    },\n    \n    // PRIORITY 2: Contact format\n    {\n      regex: /(?:name|contact|person|from)[:\\s]+([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,2})(?=\\s|$|[,.:;!?])/i,\n      priority: 2,\n      description: \"Contact format\"\n    },\n    \n    // PRIORITY 2: With title\n    {\n      regex: /(?:mr|mrs|ms|miss|dr|prof|sir|madam)\\.?\\s+([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,2})(?=\\s|$|[,.:;!?])/i,\n      priority: 2,\n      description: \"With title\"\n    },\n    \n    // PRIORITY 1: Update/correction (HIGHEST PRIORITY)\n    {\n      regex: /(?:actually|correction|sorry|wait|update|change|correct|fix).*?(?:name|i'm|i am|call me|it's)\\s+([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,3})(?=\\s|$|[,.:;!?])/i,\n      priority: 0,  // Highest priority!\n      description: \"Name correction/update\"\n    },\n    \n    // PRIORITY 3: Standalone at beginning\n    {\n      regex: /^([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,2})(?=\\s+[a-z0-9@]|\\s*[,.:;!?])/,\n      priority: 3,\n      description: \"Standalone at start\"\n    },\n    \n    // PRIORITY 4: Three-word names\n    {\n      regex: /\\b([A-Z][a-z]{2,}\\s+[A-Z][a-z]{2,}\\s+[A-Z][a-z]{2,})\\b(?=\\s|$|[,.:;!?@])/,\n      priority: 2,\n      description: \"Three-word name\"\n    },\n    \n    // PRIORITY 5: Two-word names (general)\n    {\n      regex: /\\b([A-Z][a-z]{2,}\\s+[A-Z][a-z]{2,})\\b(?=\\s+[a-z@0-9]|\\s*[,.:;!?]|\\s*$)/,\n      priority: 5,\n      description: \"Two-word name\"\n    },\n  ];\n  \n  for (const {regex, priority, description, nameIndex} of namePatterns) {\n    const nameMatch = text.match(regex);\n    if (nameMatch) {\n      const captureIndex = nameIndex || 1;\n      if (nameMatch[captureIndex]) {\n        let extractedName = cleanName(nameMatch[captureIndex]);\n        \n        if (isValidName(extractedName)) {\n          allNames.push({\n            name: extractedName,\n            priority: priority,\n            description: description,\n            messageIndex: i,\n            messageText: text\n          });\n        }\n      }\n    }\n  }\n}\n\n// ==================== FINAL SELECTION ====================\n\n// Select BEST name (prefer later messages, then priority)\nif (allNames.length > 0) {\n  allNames.sort((a, b) => {\n    // First, sort by message index (later is better - allows updates)\n    if (a.messageIndex !== b.messageIndex) {\n      return a.messageIndex - b.messageIndex;\n    }\n    // Then by priority (lower number = higher priority)\n    return a.priority - b.priority;\n  });\n  \n  foundName = allNames[allNames.length - 1].name;\n}\n\n// Select FIRST email (or last if you want most recent)\nif (allEmails.length > 0) {\n  foundEmail = allEmails[0].email;\n}\n\n// Final result\nconst result = {\n  name: foundName || \"Not found\",\n  email: foundEmail || \"Not found\"\n};\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -224
      ],
      "id": "7274ff04-b826-4828-8120-28b382fedecf",
      "name": "Srape Name and Email1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2312a3d-479b-4f4a-9c9e-b81842724995",
              "leftValue": "={{ $('AI Agent').item.json.output.needs_human }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        -224
      ],
      "id": "567fd6ae-9f17-46ab-9d89-14ed4238cdd7",
      "name": "Need human?"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      text:$('AI Agent').first().json.output.reply\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -128
      ],
      "id": "ba774acf-783b-4a60-a2c0-e9fd5cef5e91",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -1264,
        -96
      ],
      "id": "fc59fcdc-96b1-4704-88b3-633daddde4df",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"reply\": \"Your message to the customer\",\n  \"needs_human\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1152,
        80
      ],
      "id": "ffa7f75a-a85e-4c37-9842-1c24480b8f27",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -896,
        -224
      ],
      "id": "5f64d19e-467b-46bf-9fab-302873ec5365",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1568,
        -64
      ],
      "id": "5eb653e7-12c9-4daf-bdcf-4fc66b7eeb88",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Customer chat history",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Customer chat history": {
      "main": [
        []
      ]
    },
    "FAQ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If all field Collected": {
      "main": [
        [
          {
            "node": "Escalated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalated": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Srape Name and Email1": {
      "main": [
        [
          {
            "node": "Need human?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need human?": {
      "main": [
        [
          {
            "node": "If all field Collected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Srape Name and Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0588c626-5e6e-4ae6-bf33-7bd031103364",
  "activeVersionId": "0588c626-5e6e-4ae6-bf33-7bd031103364",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-18T14:26:29.923Z",
      "createdAt": "2026-01-18T14:26:29.923Z",
      "role": "workflow:owner",
      "workflowId": "eJAEK6vE6ohJcKC3",
      "projectId": "aqCUDfvAqAv6TlIv"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-03T05:33:42.703Z",
    "createdAt": "2026-03-03T05:33:42.703Z",
    "versionId": "0588c626-5e6e-4ae6-bf33-7bd031103364",
    "workflowId": "eJAEK6vE6ohJcKC3",
    "nodes": [
      {
        "parameters": {
          "hasOutputParser": true,
          "needsFallback": true,
          "options": {
            "systemMessage": "=You are Export Pi’s customer support AI assistant. They sell Shoes online and offline.\n\nYou have access to two tools:\n1. FAQ tool – searches questions and answers from Google Sheets\n2. Escalated tool – logs unresolved cases\n\nYou will receive a customer message and FAQ data.\n\nRules:\n1. Understand user intent, even if short, informal, misspelled, Bangla, or Banglish.\n2. Translate Bangla/Banglish to English and clean the text.\n3. If message is greeting or small talk, reply normally and do not use any tool.\n4. Query the FAQ tool.\n5. If similarity ≥60%, return the FAQ answer exactly and set need_human = false.\n6. If the message is irrelevant, off-topic, or unrelated to Export Pi’s business, do NOT answer it. Politely redirect the user back to Export Pi’s products, services, or support topics. Do not use any tool in this case.\n7. If no FAQ match:\n   - First, politely ask the user for any missing information: **Name** and **Email or Mobile (optional)**.\n   - Then inform the user that a human agent will contact them.\n   - If subsequent unknown messages arrive, do **not ask for details again**; just log the new message as a new row.\n\nAlways respond with this JSON structure:\n\n{\n  \"need_human\": true/false,\n  \"reply\": \"Your response message here\"\n}\n\nDecision Logic:\n- FAQ answer found → need_human = false\n- FAQ answer not found → need_human\n- Greeting only → need_human = false\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          -1616,
          -320
        ],
        "id": "706065af-1086-4a81-a520-63826313522a",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "public": true,
          "mode": "webhook",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          -1920,
          -320
        ],
        "id": "3c181f13-97f4-405d-991f-8d3494a92781",
        "name": "When chat message received",
        "webhookId": "eaba81fc-1499-4354-a9c4-32c10f3d9b07"
      },
      {
        "parameters": {
          "model": "moonshotai/kimi-k2-instruct",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          -1696,
          -96
        ],
        "id": "97bf2408-d69a-4cc3-8e25-19255b565334",
        "name": "Groq Chat Model",
        "credentials": {
          "groqApi": {
            "id": "5h1EDdb5qUKmhLT3",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1puUD3QY6-rb2uAy80d69285yML1RLZcQKtIuw61TCV4",
            "mode": "list",
            "cachedResultName": "ChatBot Info",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1puUD3QY6-rb2uAy80d69285yML1RLZcQKtIuw61TCV4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Users History",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1puUD3QY6-rb2uAy80d69285yML1RLZcQKtIuw61TCV4/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Id": "={{ $('When chat message received').item.json.sessionId }}",
              "Customer Message": "={{ $('When chat message received').item.json.chatInput }}",
              "Bot Reply": "={{ $json.output.reply }}",
              "Date": "={{$now.setZone('Asia/Dhaka').toFormat('yyyy-MM-dd')}}\n"
            },
            "matchingColumns": [
              "Id"
            ],
            "schema": [
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Id",
                "displayName": "Id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Customer Message",
                "displayName": "Customer Message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Bot Reply",
                "displayName": "Bot Reply",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -832,
          -416
        ],
        "id": "601786cc-9247-4e73-b09d-fefb50e96ed8",
        "name": "Customer chat history",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "P2WoYlnHbPhHpLg0",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1uKKu7EDnV_9WZ-PBt5uaqlOh_-SsSFF0dPgqFLt0q_4",
            "mode": "list",
            "cachedResultName": "FAQ for Export-Pi",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uKKu7EDnV_9WZ-PBt5uaqlOh_-SsSFF0dPgqFLt0q_4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "FAQ's",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uKKu7EDnV_9WZ-PBt5uaqlOh_-SsSFF0dPgqFLt0q_4/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          -1392,
          -96
        ],
        "id": "f6014847-8d0b-4eb5-af65-9b9b58a2ac49",
        "name": "FAQ",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "P2WoYlnHbPhHpLg0",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -1584,
          112
        ],
        "id": "ed27e1ec-a1f7-439d-93cd-61cb457c5996",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "Ef2UZYWgupCwAo5e",
            "name": "Google Gemini(PaLM) Api account 4"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "af5e8996-9556-43d3-bcf7-38b27ee5042b",
                "leftValue": "={{ $json.name }}",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              },
              {
                "id": "5835ed64-b4f5-4846-a28d-a8a513c24a1f",
                "leftValue": "={{ $json.email }}",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -96,
          -320
        ],
        "id": "56fda825-704f-41fa-a8d1-57d73a599d4a",
        "name": "If all field Collected"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1puUD3QY6-rb2uAy80d69285yML1RLZcQKtIuw61TCV4",
            "mode": "list",
            "cachedResultName": "ChatBot Info",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1puUD3QY6-rb2uAy80d69285yML1RLZcQKtIuw61TCV4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 644787786,
            "mode": "list",
            "cachedResultName": "Escaleted Message",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1puUD3QY6-rb2uAy80d69285yML1RLZcQKtIuw61TCV4/edit#gid=644787786"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Date": "={{ $now.setZone('Asia/Dhaka').toFormat('yyyy-MM-dd') }}",
              "ID": "={{ $('When chat message received').item.json.sessionId }}",
              "Email Address": "={{ $('Srape Name and Email1').item.json.email }}",
              "Customer Name": "={{ $('Srape Name and Email1').item.json.name }}",
              "Customer Message": "={{ $('When chat message received').item.json.chatInput }}"
            },
            "matchingColumns": [
              "Email Address"
            ],
            "schema": [
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ID",
                "displayName": "ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Email Address",
                "displayName": "Email Address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Number",
                "displayName": "Number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Customer Name",
                "displayName": "Customer Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Customer Message",
                "displayName": "Customer Message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          128,
          -400
        ],
        "id": "fb87891f-2549-4ae0-b5eb-4ddb448ee9c9",
        "name": "Escalated",
        "alwaysOutputData": false,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "P2WoYlnHbPhHpLg0",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "testnnworkflow13@gmail.com",
          "subject": "Bep Bep Need you to talk !!!",
          "message": "=There is a customer wanted to talk with you!!!\nCustomer Id: {{ $json.ID }},\nCustomer Name: {{ $json['Customer Name'] }},\nCustomer Email: {{ $json['Email Address'] }}.",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          352,
          -400
        ],
        "id": "362ad81b-9ea3-4622-8c9d-eb39f15397f8",
        "name": "Send a message1",
        "webhookId": "a2787124-e79b-41c6-a06b-0957b334414a",
        "credentials": {
          "gmailOAuth2": {
            "id": "SN79AzLmxYdb0jSR",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [\n  {\n    json: {\n      text: $('AI Agent').first().json.output.reply\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          -304
        ],
        "id": "43620cd9-9fd1-41bb-b254-5f1985d8f20e",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "jsCode": "const messages = $input.first().json.messages || [];\nconst memory = $input.first().json.memory || {};\n\n// If memory already has both, return immediately\nif (memory.name && memory.email) {\n  return { \n    name: memory.name, \n    email: memory.email \n  };\n}\n\nlet foundName = memory.name || null;\nlet foundEmail = memory.email || null;\nlet allEmails = [];\nlet allNames = [];\n\n// Helper: Validate email\nfunction isValidEmail(email) {\n  const emailRegex = /^[a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$/;\n  return emailRegex.test(email);\n}\n\n// Helper: Validate name\nfunction isValidName(name) {\n  const nameParts = name.trim().split(/\\s+/);\n  \n  // Allow 1-4 words (relaxed for single names in first message)\n  if (nameParts.length < 1 || nameParts.length > 4) return false;\n  \n  // Check each part\n  for (const part of nameParts) {\n    if (part.length < 2) return false;\n    if (part[0] !== part[0].toUpperCase()) return false;\n    if (part === part.toUpperCase() && part.length > 1) return false;\n  }\n  \n  // Block common false positives\n  const lower = name.toLowerCase();\n  const blocklist = [\n    'not found', 'thank you', 'good day', 'hello there', 'good morning',\n    'good afternoon', 'good evening', 'see you', 'talk soon', 'best regards',\n    'kind regards', 'thank god', 'oh yes', 'oh no', 'of course', 'yes sir',\n    'no problem', 'you too', 'as well', 'for sure', 'will do', 'got it'\n  ];\n  \n  if (blocklist.includes(lower)) return false;\n  \n  return true;\n}\n\n// Helper: Clean extracted name\nfunction cleanName(name) {\n  let cleaned = name.trim();\n  \n  // Remove trailing noise words\n  cleaned = cleaned.replace(/\\s+(and|with|at|the|hk|or|from|to|for|is|was|are|were|be|been|being|have|has|had|do|does|did|will|would|should|could|may|might|must|can|shall)$/i, '');\n  \n  // Remove leading noise words\n  cleaned = cleaned.replace(/^(and|with|at|the|or|from|to|for|is|was|are|were|be|been|being|have|has|had|do|does|did|will|would|should|could|may|might|must|can|shall)\\s+/i, '');\n  \n  // Remove special characters except spaces and hyphens\n  cleaned = cleaned.replace(/[^\\w\\s-]/g, '');\n  \n  // Normalize spaces\n  cleaned = cleaned.replace(/\\s+/g, ' ').trim();\n  \n  // Capitalize properly\n  cleaned = cleaned.split(' ')\n    .map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase())\n    .join(' ');\n  \n  return cleaned;\n}\n\n// SEARCH ALL MESSAGES - collect everything\nfor (let i = 0; i < messages.length; i++) {\n  const message = messages[i];\n  const text = (message.human || \"\").trim();\n  \n  if (!text) continue;\n  \n  // ==================== EMAIL EXTRACTION (searches entire text) ====================\n  const emailPatterns = [\n    /([a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/g,\n    /(?:email|mail|e-mail|gmail|contact)[\\s:is]+([a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/gi,\n    /(?:reach|write|send)[\\s:tome]+([a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/gi,\n    /[\"'`]([a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})[\"'`]/g,\n    /[<\\[\\(]([a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})[>\\]\\)]/g,\n  ];\n  \n  for (const pattern of emailPatterns) {\n    let match;\n    const regex = new RegExp(pattern.source, pattern.flags);\n    while ((match = regex.exec(text)) !== null) {\n      const email = match[1].toLowerCase().trim();\n      if (isValidEmail(email) && !allEmails.includes(email)) {\n        allEmails.push({\n          email: email,\n          messageIndex: i,\n          messageText: text\n        });\n      }\n    }\n  }\n  \n  // ==================== NAME EXTRACTION ====================\n  const namePatterns = [\n    // PRIORITY 1: Explicit introductions\n    {\n      regex: /(?:my name is|my name's|i am|i'm|this is|call me|i'm called|name's|name is)\\s+([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,3})(?=\\s|$|[,.:;!?])/i,\n      priority: 1,\n      description: \"Explicit introduction\"\n    },\n    \n    // PRIORITY 2: Name directly before email (CRITICAL FOR YOUR CASE)\n    {\n      regex: /\\b([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,2})\\s*[,\\-–—]?\\s*(?:and\\s+)?([a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/i,\n      priority: 2,\n      description: \"Name before email\"\n    },\n    \n    // PRIORITY 2: Name after email\n    {\n      regex: /([a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})\\s*[,\\-–—]?\\s*([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,2})/i,\n      priority: 2,\n      description: \"Name after email\",\n      nameIndex: 2  // Use second capture group\n    },\n    \n    // PRIORITY 1: Greeting with name\n    {\n      regex: /(?:hi|hello|hey|greetings)[,\\s]+(?:i'm|i am|this is)?\\s*([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,2})(?=\\s|$|[,.:;!?])/i,\n      priority: 1,\n      description: \"Greeting with name\"\n    },\n    \n    // PRIORITY 1: Signature format\n    {\n      regex: /(?:regards|sincerely|thanks|thank you|best|cheers)[,\\s]+([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,2})\\s*$/im,\n      priority: 1,\n      description: \"Signature\"\n    },\n    \n    // PRIORITY 2: Contact format\n    {\n      regex: /(?:name|contact|person|from)[:\\s]+([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,2})(?=\\s|$|[,.:;!?])/i,\n      priority: 2,\n      description: \"Contact format\"\n    },\n    \n    // PRIORITY 2: With title\n    {\n      regex: /(?:mr|mrs|ms|miss|dr|prof|sir|madam)\\.?\\s+([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,2})(?=\\s|$|[,.:;!?])/i,\n      priority: 2,\n      description: \"With title\"\n    },\n    \n    // PRIORITY 1: Update/correction (HIGHEST PRIORITY)\n    {\n      regex: /(?:actually|correction|sorry|wait|update|change|correct|fix).*?(?:name|i'm|i am|call me|it's)\\s+([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,3})(?=\\s|$|[,.:;!?])/i,\n      priority: 0,  // Highest priority!\n      description: \"Name correction/update\"\n    },\n    \n    // PRIORITY 3: Standalone at beginning\n    {\n      regex: /^([A-Z][a-z]+(?:\\s+[A-Z][a-z]+){0,2})(?=\\s+[a-z0-9@]|\\s*[,.:;!?])/,\n      priority: 3,\n      description: \"Standalone at start\"\n    },\n    \n    // PRIORITY 4: Three-word names\n    {\n      regex: /\\b([A-Z][a-z]{2,}\\s+[A-Z][a-z]{2,}\\s+[A-Z][a-z]{2,})\\b(?=\\s|$|[,.:;!?@])/,\n      priority: 2,\n      description: \"Three-word name\"\n    },\n    \n    // PRIORITY 5: Two-word names (general)\n    {\n      regex: /\\b([A-Z][a-z]{2,}\\s+[A-Z][a-z]{2,})\\b(?=\\s+[a-z@0-9]|\\s*[,.:;!?]|\\s*$)/,\n      priority: 5,\n      description: \"Two-word name\"\n    },\n  ];\n  \n  for (const {regex, priority, description, nameIndex} of namePatterns) {\n    const nameMatch = text.match(regex);\n    if (nameMatch) {\n      const captureIndex = nameIndex || 1;\n      if (nameMatch[captureIndex]) {\n        let extractedName = cleanName(nameMatch[captureIndex]);\n        \n        if (isValidName(extractedName)) {\n          allNames.push({\n            name: extractedName,\n            priority: priority,\n            description: description,\n            messageIndex: i,\n            messageText: text\n          });\n        }\n      }\n    }\n  }\n}\n\n// ==================== FINAL SELECTION ====================\n\n// Select BEST name (prefer later messages, then priority)\nif (allNames.length > 0) {\n  allNames.sort((a, b) => {\n    // First, sort by message index (later is better - allows updates)\n    if (a.messageIndex !== b.messageIndex) {\n      return a.messageIndex - b.messageIndex;\n    }\n    // Then by priority (lower number = higher priority)\n    return a.priority - b.priority;\n  });\n  \n  foundName = allNames[allNames.length - 1].name;\n}\n\n// Select FIRST email (or last if you want most recent)\nif (allEmails.length > 0) {\n  foundEmail = allEmails[0].email;\n}\n\n// Final result\nconst result = {\n  name: foundName || \"Not found\",\n  email: foundEmail || \"Not found\"\n};\n\nreturn result;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -544,
          -224
        ],
        "id": "7274ff04-b826-4828-8120-28b382fedecf",
        "name": "Srape Name and Email1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "a2312a3d-479b-4f4a-9c9e-b81842724995",
                "leftValue": "={{ $('AI Agent').item.json.output.needs_human }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -320,
          -224
        ],
        "id": "567fd6ae-9f17-46ab-9d89-14ed4238cdd7",
        "name": "Need human?"
      },
      {
        "parameters": {
          "jsCode": "return [\n  {\n    json: {\n      text:$('AI Agent').first().json.output.reply\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -80,
          -128
        ],
        "id": "ba774acf-783b-4a60-a2c0-e9fd5cef5e91",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
        "typeVersion": 1,
        "position": [
          -1264,
          -96
        ],
        "id": "fc59fcdc-96b1-4704-88b3-633daddde4df",
        "name": "Auto-fixing Output Parser"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"reply\": \"Your message to the customer\",\n  \"needs_human\": false\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          -1152,
          80
        ],
        "id": "ffa7f75a-a85e-4c37-9842-1c24480b8f27",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.memoryManager",
        "typeVersion": 1.1,
        "position": [
          -896,
          -224
        ],
        "id": "5f64d19e-467b-46bf-9fab-302873ec5365",
        "name": "Chat Memory Manager"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -1568,
          -64
        ],
        "id": "5eb653e7-12c9-4daf-bdcf-4fc66b7eeb88",
        "name": "Simple Memory"
      }
    ],
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "node": "Customer chat history",
              "type": "main",
              "index": 0
            },
            {
              "node": "Chat Memory Manager",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Customer chat history": {
        "main": [
          []
        ]
      },
      "FAQ": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 1
            },
            {
              "node": "Auto-fixing Output Parser",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "If all field Collected": {
        "main": [
          [
            {
              "node": "Escalated",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Escalated": {
        "main": [
          [
            {
              "node": "Send a message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message1": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Srape Name and Email1": {
        "main": [
          [
            {
              "node": "Need human?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Need human?": {
        "main": [
          [
            {
              "node": "If all field Collected",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auto-fixing Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Auto-fixing Output Parser",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Chat Memory Manager": {
        "main": [
          [
            {
              "node": "Srape Name and Email1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            },
            {
              "node": "Chat Memory Manager",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": []
}