Backup_2026-03-04/My workflow 6.json
{
  "updatedAt": "2026-02-06T17:44:11.000Z",
  "createdAt": "2026-01-27T16:26:38.868Z",
  "id": "G7YHxCUK7AAacpLg",
  "name": "My workflow 6",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        0
      ],
      "id": "8c705539-095a-4abe-98d9-72f3c86a07a3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/34063757256542717",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "first_name,last_name"
            },
            {
              "name": "access_token",
              "value": "EAAWb4dX711EBQl8Uz1ZBelKT4dsRwEMZBpxsX16d5ZCLD0101gMCsyZBE9IXCKWBXQYVprfGMCSadEZCbftiHtlAMHZBPYvk7R5ZBnxX6BsY0IewSVukWw16hsxMOu3bjuUfenGrVoVJl9jROvNzu7bFqFxREhPBryPFZATRKc8yfCffWzJFDmAc45gocIPzWWAfnIUMytVNoKPr1VTI3rVJk0QYkAZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        48
      ],
      "id": "84cbf064-e30e-4209-813c-d0996d6b280a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "535f08ee-ddd6-408c-a3af-bc4aa654d55e",
              "name": "",
              "value": "={{ $json.first_name }} {{ $json.last_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        48
      ],
      "id": "a7c321ac-f8ee-4e89-b20e-4684b7db05e2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "24890834957225303"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        -160
      ],
      "typeVersion": 1,
      "id": "1b9f59af-8df0-4021-b092-db4b7406963b",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "021d6135-9d5c-4b34-9489-bbb3e08b4601",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-27T16:26:38.870Z",
      "createdAt": "2026-01-27T16:26:38.870Z",
      "role": "workflow:owner",
      "workflowId": "G7YHxCUK7AAacpLg",
      "projectId": "aqCUDfvAqAv6TlIv"
    }
  ],
  "activeVersion": null,
  "tags": []
}